*{
    padding: 0px;
    margin: 0px;
    font-family: 微软雅黑;
}
.outer{
    /*margin: 10px;*/
    width: 80%;
    margin: auto;
    /*border: 1px solid black;*/
}
div {
    /*border: 1px solid black;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
div.split {
    width: 100%;
}

body {
    width: 100%;
}

table{
    width: 100%;
    font-size:16px;
    border-width: 0px;
    border-color: #666666;
    border-collapse: collapse;
}
table td {
    border-width: 0px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}


table.content {
    color:#333333;
}
table.content td {
    padding-left: 18px;
}
table.content td.l-left{
    padding-left: 3px;
}

table.split {
    color:#333333;
}
table.split td {
    padding-left: 0px;
}

ul {
    width: 100%;
}
ul li {
    width: 100%;
}
ul li.one{
    list-style-type : none;
}
ul li.two{
    list-style-type : square;
}